$primaryColor: white;
$secondaryColor1: #21409A;
$secondaryColor2: #ED1C24;
$secondaryColor3: #FFC20E;


.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 20px auto;
    background-color: $primaryColor;
    border: 15px solid $secondaryColor3;
    border-radius: 10px;
    overflow-y: hidden;
    width: 100vw;
    max-width: 480px;
    box-shadow: 0 0 10px $secondaryColor3;
}


.App-header {
  background: linear-gradient(to right, $secondaryColor1, $secondaryColor2);
  overflow: hidden;
  width: calc(100% - 40px);
  margin: -20px auto 20px;
  padding: 20px;
  text-align: center;
  color: white;
}

.Messages-list {
  padding: 20px 0;
  max-width: 900px;
  width: 100%;
  text-align: center;
  background-color: $primaryColor;
  padding: 10px;
  margin: -20px -20px 20px -20px;
}

.Messages-message {
  display: flex;
  margin-top: 10px;
}

.Messages-message.currentMember {
  flex-direction: row-reverse;
  text-align: right;
}

.Message-content {
  display: inline-block;
}

.currentMember > .Message-content {
  align-items: flex-end;
}

.Messages-message > .avatar {
  height: 10px;
  width: 10px;
  display: inline-block;
  margin: 0 10px -10px;
  border-radius: 4px; 
  text-align: center;
  line-height: 35px;
  font-weight: bold;
}

.Message-content > .username {
  display: block;
  color: $secondaryColor2;
  font-size: 14px;
  padding-bottom: 4px;
  font-family: "Arial", sans-serif;
  font-weight: bold;
}

.Message-content > .text {
  padding: 10px;
  max-width: 400px;
  margin: 0;
  border-radius: 12px;
  
  background-color: $secondaryColor1;
  display: inline-block;
}

.currentMember > .Message-content .text {
  background-color: $secondaryColor3;
}

form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto 40px;
}

input {
  padding: 5px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid $secondaryColor3;
  flex-grow: 1;
}

button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: $secondaryColor3;
  color: white;
  border: none;
  border-radius: 8px;
  margin-left: 10px;
}